#avatar img {
    border-radius: 50%;
    width: 150px;
    margin-left: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
}

.userSection {
    display: flex;
    gap: 5vw;
    border: solid 2px grey;
    padding: 16px;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.repoSection {
    width: 20vw;
    border: solid 2px rebeccapurple;
    margin: 20px;
}

.topics li{
    border: solid darkblue 2px;
    display: inline-block;
    padding: 2px 8px;
}

#repoName h2{
    margin: 8px
}

#description {
    padding: 0px 20px;
}

.none {
    display: none;
}